/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.body-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/фон.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Размытие фона */
  z-index: -1; /* Поставить фон на задний план */
  margin: 0;  /* без отступов */
  /* background-repeat: repeat-x;  */
  height: 100vh;
  width: 100vw;
  /* background-attachment: fixed; */
  overflow: hidden;
}
.content {
  position: relative;
  z-index: 1; /* Поставить контент поверх фона */
  /* padding: 20px; */
  width: 100%;
  box-sizing: border-box;
}