html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
 
}
.footer
{
  box-sizing: border-box;
}
.border-bottom {
  border-bottom: 1px solid #363250;
  box-sizing: border-box;
  
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('фон.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Размытие фона */
  z-index: -1; /* Поставить фон на задний план */
  margin: 0;  /* без отступов */
  /* background-repeat: repeat-x;  */
  height: 100vh;
  width: 100vw;
  /* background-attachment: fixed; */
  overflow: hidden;
}
.content {
  position: relative;
  z-index: 1; /* Поставить контент поверх фона */
  /* padding: 20px; */
  width: 100%;
  box-sizing: border-box;
}